.home {
  .feed {
	  
	  background-size: cover;
	  
	  small {
		  font-size: 100%;
		  letter-spacing: 0;
		  font-weight: $heavy;
		  
	  }
	  .callout {
		  border-radius: 15px;
		  overflow: hidden;
		  .description .row.date-row{
			  margin: 5px 0 25px;
			  	.columns{
				  	padding: 0;
			  	}
		  }
	  }
    
  }
}
