.hero {
	
	.hero-slide { 
		background-size: auto;
		padding: 60px 0;
		&.jumbotron {
		    background-attachment: fixed;
		    overflow: hidden;
			position: relative;							
		}
		
		h2 {
			margin-bottom: 0;
			
		}
		h3{
			margin-bottom: 10px;
		}
		.hero-content {
			padding: 40px;
			border-radius: 10px;
		}
	}
}	