.home {
	
	#services_1 {
		.column {			
			.title {
				position: relative;
				h4 {
					margin: 25px 0;
					vertical-align: baseline;
				}	
			}
			
			p {
				padding: 0 20px;	
				line-height: 22px;
			}
		}
	}
	
	#services_2 {
		
		background: #fff9e5;
		
		h2{
			color: $secondary-color;
			font-size: 42px;
			font-weight: $regular;
			margin-bottom: 3px;
			font-family: $font-family2;
			line-height: 45px;
		}		
		
	}

}
