.off-canvas {
  background: none !important; // Override default offcanvas styles
}

.js-off-canvas-exit {
  z-index: 99999;
}


header {

  width: 100%;
  background: map-get($header, background);
  height: map-get($header, height);
  box-shadow: 0 5px 5px -5px rgba(0,0,0,0.75);

  &.is-stuck {
    .logged-in & {
      margin-top: rem-calc(32) !important; // Has to override the plugin-assigned value
    }

    height: map-get($header, minimized-height);

    .header-message-row {
      display: none;
    }

    #logo img,
    #main_menu >  li {
      height: map-get($header, minimized-height) - 2 * map-get($header, padding);
    }

    #main_menu > li ul {
      top:
        map-get($header, minimized-height) -
        (2 * map-get($header, padding)) +
        map-get($header, padding) +
        map-deep-get($header, menu, offset);
    }
  }


  .header-icon-container {
    position: relative;
    font-size: map-deep-get($header, icons, size);

    .fa-phone, .fa-bars {
      position: absolute;
      top: map-deep-get($header, icons, distance-top);
      &:hover, &:focus {
        color: $secondary-color;
      }
    }

    .fa-phone {
      left: map-deep-get($header, icons, distance-side);
    }
    .fa-bars {
      right: map-deep-get($header, icons, distance-side);
    }
  }

  #logo {
    img {
      display: block;
      height: map-get($header, height) - 2 * map-get($header, padding);
      width: auto;
    }
  }

  > .row > .columns {
    padding: map-get($header, padding) 0;
  }

  .header-message-row {
    min-height: map-deep-get($header, message, height);
    span {
      height: map-deep-get($header, message, height);
      font: map-deep-get($header, message, font);
      color: map-deep-get($header, message, color);
      line-height: map-deep-get($header, message, height);
      a {
	      color: map-deep-get($header, message, color);
	      &:hover {
	        color: map-deep-get($header, message, color-hover);
	      }
	    }
    }
	.social { 
		margin-left: 8px;
		margin-top: 8px;
	    ul { 		    
		    height: 25px;
		    padding: 0;
		    line-height: 0;
		    li {
			    width: rem-calc(25px);
			    height: rem-calc(25px);
			    line-height: inherit;
			    background: map-deep-get($header, social, social-bg);			    
			    &:before { 
				    font-size: rem-calc(14px);	
				    position: relative;
				    text-align: center;
				    vertical-align: text-bottom;
				    color: map-deep-get($header, social, social-icon);			    
			    }
			    &:hover { 
					background: map-deep-get($header, social, social-bg-hover);   
					&:before { 
						color: map-deep-get($header, social, social-icon);	
					} 
			    }			    
		    }
	    }	    
    }   
  }

  #main_menu {
    > li {
      height: map-deep-get($header, menu, height);
      font: map-deep-get($header, menu, fonts, text);
      color: map-deep-get($header, menu, colors, text);
      @include uppercase(map-deep-get($header, menu, uppercase, text));
      > a {
        padding: 0.7rem 0.6rem;
        color: map-deep-get($header, menu, colors, text);
      }
      > a:hover {
        color: map-deep-get($header, menu, colors, text-hover);
      }
      ul {
        text-transform: none;
        top:
          map-deep-get($header, menu, height) +
          map-get($header, padding) +
          map-deep-get($header, menu, offset);
        border-top:
          rem-calc(4)
          solid
          map-deep-get($header, menu, colors, border-top) ;
        li {
          height: auto;
          font: map-deep-get($header, menu, fonts, submenu-text);
          background-color: map-deep-get($header, menu, colors, submenu-bg);
          border-top: rem-calc(1) solid
            map-deep-get($header, menu, colors, border-between);
            @include uppercase(map-deep-get($header, menu, uppercase, submenu-text));
          > a {
            color: map-deep-get($header, menu, colors, submenu-text);
          }
          &:hover {
            background-color: map-deep-get($header, menu, colors, submenu-bg-hover);
            > a {
              color: map-deep-get($header, menu, colors, submenu-text-hover);
            }
          }
          ul {
            top: 0;
            border-top: none;
          }
        }
      }
    }    
  }
}
