.header-message-row {

}

.sticky-container {
	z-index: 10000;
}

header {
	border-bottom: 10px solid $primary-color;
	#logo{
		img {
			height: 100px; 
			margin-top: -7px;
		}
	}
	
	#main_menu > li {
		
		ul {
			top: 65px;
			li{
				&:first-child {
					border-top: none;
				}
			}
		}
		
		> a {
		padding: 15px;
		}	
	}
}