.banner.no-bg {
	background-size: cover;
	background-position: center center;
	.wrap{
		background-color: rgba(255, 255, 255, 0.75);
		border-radius: 10px;
		padding: 30px 20px;
	}
}
.content-container {
	
	> .row {
		padding: 0;
	}
	.medium-8 {
		
		p {
			line-height: 25px;
			a {
				font-weight: $heavy;
				text-decoration: underline;
			}
		}
		
		img {
			border-radius: 10px;
		}
		.wp-caption-text { 
			color: $primary-color;
			font-weight: $bold;
		}
		.accordion {
			margin-bottom: 0 !important;		
			.button {
				border-radius: 0;
				background: #fff9e5;			
			}
				
			li {
		
				border-top: 1px solid $secondary-color;
				margin-bottom: 0;
			
				a.accordion-title { 
					
					border: none;
					text-align: left;
					margin-bottom: 0;
					text-decoration: none;
					padding-left: 40px !important;
					
				}
				
				.accordion-content:last-child{
					border: none !important;
				}
			}
			
		}
		blockquote{
			border-left-width: 8px;
		}
		
		.testimonial {
			border-top: 1px solid $primary-color;
			padding-bottom: 15px;
			padding-top: 15px;
		}	
	}
	
	.medium-4 {
		.call-to-action{
			padding: 40px 30px;
			h4 {
				text-transform: none;
				line-height: 32px;
				margin-bottom: 15px;
				padding: 0 15px;
			}
			p{
				padding: 0 45px;
			}
			.button {
				margin-top: 5px;
			}
		}
		.form{
			margin-bottom: 30px;
			h3{
				display: block;
				font: normal normal 900 1.375rem "Lato", sans-serif;
				color: #a10d11;
				text-transform: uppercase;
				margin-bottom: 0.625rem;
			}
			input, textarea {
				color: $secondary-color;
				border-color: $secondary-color;
			}
			input::placeholder, textarea::placeholder{
				color: $secondary-color;
			}
		}
		.menu-widget {
			li a {
				text-transform: none;
			}
		}
	}
	
	.callout {
		border-radius: 15px; 
		overflow: hidden;
		.description .row.date-row {
			margin: 5px 0 15px;
			.columns{
				padding: 0;
			}
			small{
				font-size: 100%;
				font-weight: $heavy;
			}
		}
	}
}

.button {
	border-radius: 10px !important;
	font-weight: $heavy !important;
	padding: 20px 25px !important;
}
