.post-type-archive-coupons {

}

.page-template-page-coupons {
	
	.content-container{
		
		.coupon {
			
			border-radius: 15px;
		
			a {
				color: $secondary-color;
				&:hover {
					color: $primary-color;
				}		
				
			}
			img {
				max-height: 120px;
				width: auto;
				margin-top: 25px;
			}
			h2{
				margin-bottom: 20px;
			}
			
			h3 {
				font-size: 16px;
				color: $secondary-color;
				font-weight: $regular;
				line-height: 25px;
				margin-bottom: 25px;
			}
			p{
				color: $primary-color;
				font-weight: $heavy;
			}
		}
	}	
}