// General Home Page Styles
.home {
	
	#open_ended_parallax_1 {
		h2 {
			font-family: $font-family2;
			font-weight: $regular;
			color: $third-color;
			font-size: 42px;
			margin-bottom: 3px;
			line-height: 45px;
		}
		h3{ 
			color: $theme-white;
			font-weight: $heavy;
			font-size: 18px;
			margin-bottom: 30px;
		}
		p{
			color: $theme-white;
			max-width: 600px; 
			margin: 0 auto;
		}
		
		.button {
			color: $secondary-color;
			background: $third-color;
			margin-top: 35px;
			&:hover{
				background: $fourth-color;
			}
		}
	}
	
	#open_ended_1 {
		img.wp-image-132 {
			margin-top: -250px;
			margin-bottom: 20px;
		}
		h5 {
			font-family: $font-family2;
			font-weight: $regular;
			color: $secondary-color;
			font-size: 30px;
			margin-bottom: 15px;
			line-height: 35px;
		}
		.large-6 img {
			border-radius: 10px;
		}
		.button {
			color: $secondary-color;
			background: $third-color;
			margin-top: 35px;
			&:hover{
				background: $fourth-color;
			}
		}
	}
	
	#open_ended_2 {
		background: #fff9e5;
		padding: 10px 0;
		img{
			margin: 0;
			filter: grayscale(1);
			-webkit-filter: grayscale(1);
			-moz-filter: grayscale(1);
			-o-filter: grayscale(1);
			-ms-filter: grayscale(1);
			&:hover {
				filter: grayscale(0);
				-webkit-filter: grayscale(0);
				-moz-filter: grayscale(0);
				-o-filter: grayscale(0);
				-ms-filter: grayscale(0);
			}
		}
	}
  
}

// Module-Specific Styles
@import "front-page/blog";
@import "front-page/hero";
@import "front-page/service-icons";
@import "front-page/testimonials";
