@import 'util/util';

$theme-black: #000000;
$theme-white: #ffffff;
$theme-grey-light: #bdc3c7;
$theme-grey-dark: #7f8c8d;

$base-color: $theme-white;
$primary-color: #a10d11;
$secondary-color: #001441;
$third-color: #ffa400;
$fourth-color: #df9818;

// Font weights
$light: 300;
$regular: normal;
$bold: 700;
$heavy: 900;

// Font-Awesome Font Path
$fa-font-path: "../bower_components/font-awesome/fonts";

// Base Font
$font-family: 'Lato', sans-serif;  // Used for most text on the site
$font-family2: 'Yellowtail', cursive;

// Form Styles
$form-text-height: rem-calc(40);
$form-spacing: rem-calc(20);

// Header Variables
$header: (
  background: $theme-white,
  height: rem-calc(125),
  minimized-height: rem-calc(75),
  padding: rem-calc(15),
  icons: (
    size: rem-calc(35),
    distance-top: rem-calc(40),
    distance-side: rem-calc(30)
  ),
  social:(
	social-bg: $secondary-color,
	social-bg-hover: $theme-white,
	social-icon: $primary-color,
	social-icon-hover: $primary-color
  ),
  message: (
    height: rem-calc(35),
    font: normal normal $heavy rem-calc(24) $font-family,
    color: $primary-color,
    color-hover: $secondary-color
  ),
  menu: (
    height: rem-calc(50),
    offset: rem-calc(-5),
    colors: (
      text: $secondary-color,
      text-hover: $primary-color,
      submenu-text: $secondary-color,
      submenu-text-hover: $secondary-color,
      submenu-bg: #fff9e5,
      submenu-bg-hover: $third-color,
      border-top: $third-color,
      border-between: $secondary-color
    ),
    fonts: (
      text: normal normal $heavy rem-calc(15) $font-family,
      submenu-text: normal normal $bold rem-calc(15) $font-family
    ),
    uppercase: (
      text: true,
      submenu-text: false
    )
  )
);

// Front Page Variables
$front-page: (
  section-padding: rem-calc(40),
  button-font: normal normal $bold rem-calc(18) $font-family,
  hero: (
    colors: (
      bg: transparentize($theme-white, 0.25),
      subhead: $secondary-color,
      heading: $primary-color,
      button-text: $secondary-color,
      button-text-hover: $secondary-color,
      button-bg: $third-color,
      button-bg-hover: $fourth-color
    ),
    fonts: (
      subhead: normal normal $regular rem-calc(40) $font-family2,
      heading: normal normal $heavy rem-calc(42) $font-family,
      subhead-size-small: rem-calc(15),
      heading-size-small: rem-calc(40)
    ),
    uppercase: (
      subhead: false,
      heading: true
    )
  ),
  services: (
    background: none,
    colors: (
      header: $primary-color,
      service-header: $primary-color,
      service-header-hover: $secondary-color,
      service-content: $secondary-color,
      button-text: $secondary-color,
      button-text-hover: $secondary-color,
      button-bg: $third-color,
      button-bg-hover: $fourth-color
    ),
    fonts: (
      header: normal normal $heavy rem-calc(18) $font-family,
      service-header: normal normal $heavy rem-calc(20) $font-family,
      service-content: normal normal $regular rem-calc(15) $font-family,
      button-text: normal normal $heavy rem-calc(18) $font-family
    ),
    uppercase: (
      header: false,
      service-header: true,
      button-text: true
    )
  ),
  blog: (
    background: url(../img/blog.jpg) no-repeat,
    colors: (
      heading: $third-color,
      subhead: $theme-white,
      article-title: $primary-color,
      article-title-hover: $secondary-color,
      date: $secondary-color,
      excerpt: $theme-black,
      button-text: $secondary-color,
      button-text-hover: $secondary-color,
      button-bg: $third-color,
      button-bg-hover: $fourth-color
    ),
    fonts: (
      heading: normal normal $regular rem-calc(42) $font-family2,
      subhead: normal normal $heavy rem-calc(18) $font-family,
      article-title: normal normal $regular rem-calc(26) $font-family2,
      date: normal normal $regular rem-calc(14) $font-family,
      excerpt: normal normal $regular rem-calc(15) $font-family
    ),
    uppercase: (
      heading: false,
      subhead: false,
      article-title: false,
      date: true
    )
  ),
  coupons: (
    background: $secondary-color,
    colors: (
      heading: $primary-color,
      subhead: $theme-white,
      coupon-head: $secondary-color,
      coupon-subhead: $theme-white,
      coupon-border: $theme-white,
      coupon-bg: $theme-black,
      info: $theme-white            
    ),
    fonts: (
      heading: normal normal $bold rem-calc(36) $font-family,
      subhead: normal normal $bold rem-calc(26) $font-family, 
      coupon-head: normal normal $bold rem-calc(26) $font-family,
      coupon-subhead: normal normal $bold rem-calc(14) $font-family,
      info: normal normal $bold rem-calc(15) $font-family      
    ),
    uppercase: (
      heading: true,
      subhead: false,       
      coupon-head: true,
      coupon-subhead: true
    )
  ),
  testimonials: (
    background: url(../img/tesimonials.jpg) no-repeat,
    colors: (
      heading: $secondary-color,
      subhead: $primary-color,
      testimonial-text: $theme-black,
      testimonial-name: $theme-black,
      testimonial-location: $theme-black,
      button-text: $secondary-color,
      button-text-hover: $secondary-color,
      button-bg: $third-color,
      button-bg-hover: $fourth-color,
      orbit-bg: $secondary-color,      
      orbit-active: $theme-black
    ),
    fonts: (
      heading: normal normal $regular rem-calc(42) $font-family2,
      subhead: normal normal $heavy rem-calc(18) $font-family,
      testimonial-text: italic normal $bold rem-calc(20) $font-family,
      testimonial-name: italic normal $bold rem-calc(20) $font-family,
      estimonial-location: italic normal $bold rem-calc(18) $font-family,
      button-text: normal normal $heavy rem-calc(18) $font-family
    ),
    uppercase: (
      heading: false,
      subhead: false,
      testimonial-name: false,
      testimonial-location: false,
      button-text: true
    )
  )
);
// Interior Page Variables
$interior: (
  colors: (
    page-title: $secondary-color,
    breadcrumbs: $primary-color,
    breadcrumbs-last: $primary-color,
    toggle-bg: #fff9e5,
    toggle-bg-open: $theme-white,
    toggle-header: $primary-color,
    toggle-header-open: $secondary-color,
    toggle-content: $secondary-color,
    toggle-border: $secondary-color,
    h1: $primary-color,
    h2: $secondary-color,
    h3: $primary-color,
    h4: $primary-color,
    h5: $secondary-color,
    h6: $primary-color,
    p: $secondary-color,
    list-bullet: $third-color,
    link: $primary-color,
    link-hover: $secondary-color,
    blockquote-bg: #fff9e5,
    blockquote-text: $secondary-color,
    blockquote-border: $primary-color,
    menu-header: $primary-color,
    menu-links: $secondary-color,
    menu-links-hover: $primary-color,
    menu-border: $secondary-color,
    cta-heading: $primary-color,
    cta-bg: #fff9e5,
    cta-text: $secondary-color,
    cta-button-text: $secondary-color,
    cta-button-text-hover: $secondary-color,
    cta-button-bg: $third-color,
    cta-button-bg-hover: $fourth-color
  ),
  fonts: (
    page-title: normal normal $regular rem-calc(40) $font-family2,
    page-title-small-size: rem-calc(30),
    breadcrumbs: normal normal $heavy rem-calc(14) $font-family,
    toggle-header: normal normal $heavy rem-calc(18) $font-family,
    toggle-content: normal normal $regular rem-calc(15) $font-family,
    h1: normal normal $heavy rem-calc(42) $font-family,
    h1-small-size: rem-calc(30),
    h2: normal normal $regular rem-calc(40) $font-family2,
    h3: normal normal $heavy rem-calc(18) $font-family,
    h4: normal normal $heavy rem-calc(20) $font-family,
    h5: normal normal $regular rem-calc(30) $font-family2,
    h6: normal normal $heavy rem-calc(16) $font-family,
    p: normal normal $regular rem-calc(15) $font-family,
    blockquote: italic normal $heavy rem-calc(20) $font-family,
    menu-header: normal normal $heavy rem-calc(22) $font-family,
    menu-links: normal normal $bold rem-calc(15) $font-family,
    cta-heading: normal normal $regular rem-calc(30) $font-family2,
    cta-text: normal normal $regular rem-calc(15) $font-family,
    cta-button-text: normal normal $heavy rem-calc(18) $font-family
  ),
  uppercase: (
    page-title: false,
    breadcrumbs: true,
    h1: true,
    h2: false,
    h3: false,
    h4: true,
    h5: false,
    h6: true,
    post-info: true,
    menu-header: true,
    menu-links: false,
    cta-heading: false,
    cta-button-text: true
  ),

  coupons: (
    colors: (
      background: $theme-white,
      border: $secondary-color,
      divider: $theme-black
    )
  ),

  page: (
    header-bg: url(../img/banner.jpg) no-repeat,
    header-title-bg: transparentize($theme-white, 0.25)
  ),


  single: (
    colors: (
      post-info: $primary-color
    ),
    fonts: (
      post-info: normal normal $bold rem-calc(16) $font-family
    )
  )
);
// Form Variables
$forms: (
  footer: (
    colors: (
      heading: $secondary-color,
      subhead: $primary-color,
      contact-head: $primary-color,
      contact-text: $secondary-color,
      textboxes: $secondary-color,
      button-text: $secondary-color,
      button-text-hover: $secondary-color,
      button-bg: $third-color,
      button-bg-hover: $fourth-color,
      link-text: $primary-color,
      link-text-hover: $secondary-color
    ),
    fonts: (
      heading: normal normal $regular rem-calc(42) $font-family2,
      subhead: normal normal $heavy rem-calc(18) $font-family,
      contact-head: normal normal $heavy rem-calc(16) $font-family,
      contact-text: normal normal $bold rem-calc(15) $font-family,
      textboxes: normal normal $regular rem-calc(14) $font-family,
      button-text: normal normal $heavy rem-calc(18) $font-family,
    ),
    uppercase: (
      heading: false,
      subhead:false,
      contact-head: true,
      contact-text: false,
      textboxes: false,
      button-text: true
    )
  )
);

// Footer Variables
$footer: (
  menu-height: rem-calc(50),
  colors: (
    bg: $theme-white,
    menu: $secondary-color,
    menu-hover: $primary-color,
    credits: $secondary-color,
    credits-link: $primary-color,
    credits-link-hover: $secondary-color,
    social-bg: $third-color,
    social-bg-hover: $fourth-color,
    social-icon: $theme-white,
    social-icon-hover: $theme-white
  ),
  fonts: (
    menu: normal normal $heavy rem-calc(15) $font-family,
    credits: normal normal $regular rem-calc(15) $font-family
  ),
  uppercase: (
    menu: true
  )
);
