.home, .blog, .archive {
  .coupons {
    background-attachment: fixed;
    background: map-deep-get($front-page, coupons, background);
    .title-row {
      text-align: center;
      margin-bottom: rem-calc(50);
      h3 {
        font: map-deep-get($front-page, coupons, fonts, heading);
        color: map-deep-get($front-page, coupons, colors, heading);
        @include uppercase(map-deep-get($front-page, coupons, uppercase, heading));
        margin: 0;
      }
      h4 {
        font: map-deep-get($front-page, coupons, fonts, subhead);
        color: map-deep-get($front-page, coupons, colors, subhead);
        @include uppercase(map-deep-get($front-page, coupons, uppercase, subhead));
        margin: 0;
      }          
    }
    
    .coupon {
	    
	    background: map-deep-get($front-page, coupons, colors, coupon-bg);
	    text-align: center;
	    border-color: map-deep-get($front-page, coupons, colors, coupon-border);
	    
		h5 {
			font: map-deep-get($front-page, coupons, fonts, coupon-head);
			color: map-deep-get($front-page, coupons, colors, coupon-head);
			@include uppercase(map-deep-get($front-page, coupons, uppercase, coupon-head));
			margin: 0;
		}
		h6 {
			font: map-deep-get($front-page, coupons, fonts, coupon-subhead);
			color: map-deep-get($front-page, coupons, colors, coupon-subhead);
			@include uppercase(map-deep-get($front-page, coupons, uppercase, coupon-subhead));
			margin-bottom: 25px;
		}
		p {
			font: map-deep-get($front-page, coupons, fonts, info);
			color: map-deep-get($front-page, coupons, colors, info);
			@include uppercase(map-deep-get($front-page, coupons, uppercase, info));
			margin: 0;
		}  
	    
    }
  }
}

.blog, .archive {
  .feed {
    background: none;
  }
}
