.featured-post-image img {
  width: 100%;
}

.blog .title-row {
  text-align: center;
}

.row.breadcrumb-row {
  padding-top: 0;
  padding-bottom: 0;
  .breadcrumbs {
    margin-bottom: 0;
  }
}

.single-post, .blog, .archive, .search-results {
    	
	#searchform {		
		.button {			
			border: none; 
			margin: 0;
			padding: 13px;			
		}				
	}	
	
  .post-title {
    margin-top: rem-calc(25);
  }

  .post-info {
    font: map-deep-get($interior, single, fonts, post-info);
    color: map-deep-get($interior, single, colors, post-info);
    @include uppercase(map-deep-get($interior, uppercase, post-info));
    margin-bottom: rem-calc(20);
    > * {
      display: inline;
      &::after {
        content: " / ";
        display: inline;
        font: map-deep-get($interior, single, fonts, post-info);
        color: map-deep-get($interior, single, colors, post-info);
      }
      &:last-child::after {
        display: none;
      }
    }
  }
  .medium-8 > .clear-article-share {
    margin-bottom: rem-calc(20);
  }
  
	.content-container .medium-8 ul.dpArticleShare li {
	
		text-indent: 0;
		
		
		&:before {
			
			content: "";
			padding: 0;
			margin: 0;
			
		}
		
	}
}

